<div class="head-dev real-head">
    <p>Developpement et conception graphique</p>
</div>
<div class="real">
    <div class="real-illustre">
        <img src="/assets/image/res 2.png" alt="web designer">
    </div>
    <div class="real-grid">
        <div class="grid-item">
        </div>
        <div class="grid-item">
        </div>
        <div class="grid-item">
        </div>
        <div class="grid-item">
        </div>
    </div>
    <div class="pagination">
        <a href="#"><img src="#" alt="Precédent"></a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#"><img src="#" alt="Suivent"></a>
    </div>
</div>